#content{
}
#offscreen-nav ul{
  list-style-type: none;
  font-size: 2em;
  font-family:sans-serif;
}
#offscreen-nav{
  background: white;
  position:absolute;
  /*display: none;*/
  top:10;
  left:0;
  width:0%;
  overflow:hidden;

 }
#closed-button{
  float:right;
  padding-right: 100px;
  width:0%;
}
#more-info{
  color:pink;
}

#tooltip{
  display:flex;
  align-items: center;
  justify-content: center;
  background: white;
  width:150px;
  height:150px;
  left:15%;
  border: 1px solid;
  box-shadow: 2px 2px 2px 2px gray;
  position:absolute;
  opacity:0;
}
/*resource loosely used: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip
